@import url("https://fonts.googleapis.com/css2?family=DM+Mono&family=Mukta:wght@200&display=swap");

:root {
  --darkBlue: #273442;
  --shadow: #25303d;
  --mediumBlue: #324458;
  --lightBlue: #9db4ce;
  --white: #dddddd;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--darkBlue);
  font-family: "DM Mono", monospace;
  color: var(--white);
}

a {
  text-decoration: none;
  color: var(--lightBlue);
  transition: 0.6s;
}

a:hover {
  color: var(--white);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  text-decoration: none;
}

.bubble {
  margin-bottom: 2%;
  margin-left: -4%;
  margin-right: -4%;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 20px;
  transition: 0.6s;
}

.bubble:hover {
  background-color: var(--mediumBlue);
  margin-left: -3%;
  margin-right: -3%;
  padding: 3%;
}

.buffer {
  height: 25px;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}

.date {
  font-family: "Mukta", sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding-right: 10px;
}

.details {
  font-family: "Mukta", sans-serif;
  font-weight: lighter;
  font-size: 18px;
}

.experience-date {
  padding-top: 6px;
  justify-self: end;
}

/* LARGE SCREEN */
@media screen and (min-width: 850px) {
  .experience-grid {
    display: grid;
    grid-template-columns: 34% 63%;
    column-gap: 3%;
    font-family: "Mukta", sans-serif;
    font-weight: lighter;
    font-size: 18px;
    padding-bottom: 200px;
  }
  .icon {
    width: 24px;
    height: 24px;
  }
  .project-title {
    font-family: "Mukta", sans-serif;
    font-weight: bold;
    font-size: 30px;
  }
  .project-grid {
    display: grid;
    grid-template-columns: 40% 55%;
    column-gap: 5%;
    row-gap: 2%;
  }
  .project-image {
    width: 100%;
    border-radius: 10px;
    margin-top: 8px;
    box-shadow: -3px 3px 5px 4px var(--shadow);
  }
  .hidden-desktop {
    display: none;
  }
  .subtitle {
    font-family: "Mukta", sans-serif;
    font-size: 24px;
  }
  .name-intro {
    font-size: 65px;
    font-weight: bolder;
  }
}

/* SMALL SCREEN */
@media screen and (max-width: 850px) {
  .experience-grid {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 2%;
    font-family: "Mukta", sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 160px;
  }
  .icon {
    width: 18px;
    height: 18px;
  }
  .navLinks li a {
    font-size: 12px;
  }
  .project-title {
    font-family: "Mukta", sans-serif;
    font-weight: bold;
    font-size: 26px;
  }
  .project-grid {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 2%;
  }
  .project-image {
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    margin-top: 8px;
    box-shadow: -3px 3px 5px 4px var(--shadow);
  }
  .hidden-mobile {
    display: none;
  }
  .subtitle {
    font-family: "Mukta", sans-serif;
    font-size: 22px;
  }
  .name-intro {
    font-size: 50px;
    font-weight: bolder;
  }
}

.experience-description {
  display: flex;
  flex-direction: column;
}

.experience-positions {
  display: grid;
  grid-template-columns: 28% 1% 67%;
  column-gap: 2%;
  row-gap: 4%;
}

.experience-position-description {
  display: flex;
  flex-direction: column;
}

.experience-timeline {
  background-color: var(--mediumBlue);
  border-radius: 10px;
}

.flex-opposite {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer {
  display: flex;
  flex-direction: column;
  height: 180px;
  width: 100%;
  font-family: "Mukta", sans-serif;
  font-size: 16px;
  justify-content: center;
  align-items: center;
}

.icon-big {
  width: 36px;
  height: 36px;
  padding-right: 5px;
}

.icon-small {
  width: 18px;
  height: 18px;
  padding-right: 5px;
  margin-bottom: -4px;
}

.icon-container {
  padding-top: 4px;
}

.iconLinks {
  width: 18%;
  max-width: 100px;
  display: flex;
  justify-content: space-between;
}

.intro {
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.intro-grid {
  padding-top: 100px;
  display: grid;
  grid-template-columns: 60% 40%;
}

.logo a {
  font-size: 45px;
}

.navLinks {
  width: 45%;
  max-width: 300px;
  display: flex;
  justify-content: space-between;
}

.portrait {
  width: 100%;
  max-width: 300px;
}

.project-links {
  font-size: 18px;
  padding-right: 5px;
  padding-top: 10px;
}

.project-description {
  padding-bottom: 5px;
}

.project-title a {
  color: var(--white);
}

.project-title a:hover {
  color: var(--lightBlue);
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.row-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.small-link {
  font-size: 15px;
  font-style: italic;
  color: var(--lightBlue);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

.technologies {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.technology {
  background-color: var(--lightBlue);
  font-family: "Mukta", sans-serif;
  font-size: 15px;
  font-weight: 400;
  padding-left: 12px;
  padding-right: 12px;
  margin-right: 2%;
  margin-bottom: 3%;
  color: var(--darkBlue);
  border-radius: 15px;

}

.title {
  font-size: 40px;
  padding-bottom: 10px;
  padding-top: 75px;
}

.topNav {
  padding-top: 24px;
  padding-bottom: 24px;
  background-image: linear-gradient(rgb(31, 40, 51, 1), rgb(31, 40, 51, 0));
  color: var(--white);
}

.topNav a {
  float: left;
  color: var(--white);
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  transition: 0.4s;
}

.topNav a:hover {
  color: var(--lightBlue);
}

.topNav a:active {
  color: var(--white);
  text-decoration: underline var(--white);
}

.user-icon {
  width: 19px;
  height: 19px;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 5px;
}

.word-intro {
  width: 50%;
  color: var(--white);
}