@import url('https://fonts.googleapis.com/css?family=DM Mono');

:root {
    --darkBlue: #1F2833;
    --lightBlue: #334458;
    --white: #ececec;
}

body {
    margin: 0;
    background: var(--bg);
    font-family: 'DM Mono';
    font-weight: 100;
}

.container {
    width: 80%;
    margin: 0;
}

header {
    background-image: linear-gradient( rgb(31, 40, 51, 1), rgb(31, 40, 51, 0));
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 10px 0;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;
}

.btn {
    float: right;
    position:absolute;
    top: 10px;
    left: 800px;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

.btn:focus { outline-style: none; }

* {
    color: var(--fontColor);
    font-family: 'DM Mono' ;
}

.btn {
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

.light-theme {
    --bg: var(--white);
    --fontColor: var(--darkBlue);
    --btnBg: var(--darkBlue);
    --btnFontColor: var(--white);
}

.dark-theme {
    /* --bg: var(--darkBlue); */
    --bg: #1a997d;
    --fontColor: var(--white);
    --btnBg: var(--white);
    --btnFontColor: var(--darkBlue);
}

.topnav {
    position: fixed;
    width: 1436px;
    height: 219px;
    left: 0px;
    top: 0px;

}

.topnav a {
    float: left;
    color: var(--white);
    text-align: center;
    padding: 18px 40px;
    font-size: 14px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: var(--darkBlue);
    color: white;
}

.topnav a.active {
    color: white;
    text-decoration: underline white;
}

#CenteredHead {
    text-align: center;
    font: 'DM Mono';
    font-size: 20px;
}

#grad {
    background-image: linear-gradient( rgb(31, 40, 51, 1), rgb(31, 40, 51, 0));
    /* background: linear-gradient(180deg, #1F2833 0%, rgba(31, 40, 51, 0.33) 34.9%, rgba(31, 40, 51, 0) 100%); */
}

#Bridget {
    font-size: 18px;
}